
@model Kullanici

@{
    ViewBag.Title = "UserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("UserLogin", "User", FormMethod.Post, new { @class = "p-5 bg-white" }))
{
    <div class="row form-group">
        <div class="col-md-6">
            <label class="text-black" for="email">Email</label>
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            <label class="text-black" for="subject">Şifre</label>
            @Html.TextBoxFor(a => a.Sifre, new { @class = "form-control", @type = "password" })
        </div>
    </div>


    <div class="row form-group">
        <div class="col-md-12">
            <input type="submit" value="Giriş Yap" class="btn btn-warning py-2 px-4 text-white">
            @if (ViewBag.Error != null)
            {
                <p class="text-danger">@ViewBag.Error</p>
            }
        </div>
        <div class="col-12">
            <p>Kayıtlı değil misiniz? <a href="@Url.Action("KayitOl", "User")" class="text-warning">Şimdi Kayıt Olun..</a></p>
        </div>
    </div>
}



