<section class="section blog-post-entry bg-light mb-5" id="section-fotograflar">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">BLOG</h2>
                <p data-aos="fade-up">Sistemimize üye olan fotoğrafçılardan bazılarının fotoğrafları. Her etkinlik özeldir ve ölümsüzleştirilmesi gerektiğini düşünüyoruz. Örnek fotoğraflara bakarak birlikte çalışmak istediğiniz fotoğrafçıyı kolayca bulmanıza yardımcı olabilmeyi umarız.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="100">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block">
                        <img src="~/Assets/images/dugun-1.jpg" alt="Image placeholder" class="img-fluid">
                    </a>
                    <div class="media-body">
                        <span class="meta-post"></span>
                        <h2 class="mt-0 mb-3"><a href="https://dugunfotografcisi.co/gelinlik-modelleri-ve-gelinliginizin-dugun-fotograflarina-etkisi/" target="_blank">Gelinlik Modelleri ve Gelinliğinizin Düğün Fotoğraflarına Etkisi</a></h2>
                        <p>Yaşamınızın en özel zamanı olan düğün sürecinizde,gelinlil seçimi büyük önem taşıyor.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="200">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="~/Assets/images/dogum-3.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post"></span>
                        <h2 class="mt-0 mb-3"><a href="http://xn--bebekdoumfotorafs-psb86hga69ab.com/2017/09/08/yenidogan-ve-bebekler-icin-guvenli-poz-fikirleri/" target="_blank">Yenidoğan ve Bebekler için Güvenli Poz Fikirleri</a></h2>
                        <p>
                            Yenidoğan fotoğrafçılıkda en önemli konu bebeğimizin güvenliğidir.
                            Bu tatlı bebekleri fotoğraflamak tutkusu olan her fotoğrafçının her oturumda en üst düzeyde güvenliği ve onlara yardım eden teknikleri bilmesi gerekir.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 post" data-aos="fade-up" data-aos-delay="300">
                <div class="media media-custom d-block mb-4 h-100">
                    <a href="#" class="mb-4 d-block"><img src="~/Assets/images/mezun-1.jpg" alt="Image placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="meta-post"></span>
                        <h2 class="mt-0 mb-3"><a href="https://www.gigbi.com/blog/mezuniyet-fotograflari-cekimi-icin-fikirler/" target="_blank">Mezuniyet Fotoğraf Çekiminde Ne Giyilir</a></h2>
                        <p>Uzun yıllar harcadığınız emeklerin sonucu nihayet meyvesini verdi ve hayatınızda yeni bir sayfa açacak diplomaya sadece bir adım uzaksınız. Mezuniyet fotoğrafları çekimi size okulunuza ait unutulmaz hatıralar bıraktığı için çok önemlidir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>