@model List<HizmetDetay>

<div class="row">
    <div class="col-md-12 form-group">
        <h4 class="text-center text-muted">Hizmetler</h4>
    </div>
</div>
<div class="row">
    <select name="hizmetTipi">
        <option value="İst">İst</option>
        <option value="İst">Ank</option>
        <option value="İst">Bur</option>
    </select>
    <div class="col-md-2 form-group">
        <label for="message">Düğün</label>
        <input type="checkbox" value="Dugun" />
    </div>
    <div class="col-md-2 form-group">
        <label for="subject">Mezuniyet</label>
        <input type="checkbox" value="Mezuniyet" />
    </div>
    <div class="col-md-2 form-group">
        <label for="subject">Konser</label>
        <input type="checkbox" value="Konser" />
    </div>
    <div class="col-md-2 form-group">
        <label for="subject">Ürün</label>
        <input type="checkbox" value="Urun" />
    </div>
    <div class="col-md-2 form-group">
        <label for="subject">Ürün</label>
        <input type="checkbox" value="Urun" />
    </div>
    <div class="col-md-2 form-group">
        <label for="subject">Ürün</label>
        <input type="checkbox" value="Urun" />
    </div>
</div>
